.imageContainer{
    border: 2px solid aqua;
    border-radius: 10px;
    margin: 10px;
}

header {
    border-radius: 0px !important;
    background-color: rgb(33, 34, 34);
}


.cardImageContainer{
    border: 1px solid rgb(201, 197, 197);
    margin: 10px;
    border-radius: 12px;
}

.text-center h2,h1{
    color: honeydew;
}

.card-body h3,h4{
    color: white;
    margin: 10px;
}

.line-separator{
    border-color: honeydew;
}

.carouselContainer{
    margin:20px auto;
    padding: 15px;
    background-color: rgb(33, 34, 34);
    border-radius: 5px;
}

.carousel-indicators li{
    background-color: rgb(8, 243, 243);
}

.footer{
    background-color: rgb(33, 34, 34);
    padding: 10px;
}

.carouselCaption{
    color: chartreuse;
}



.card-style{
    width: 400px;
    border-radius: 12px;
    margin: 20px auto;  
    background-color: rgb(33, 34, 34);  
}

.fa-heart{
    color: crimson;
}

.overlay {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 160px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: .3s ease;
    
  }

  .card-link:hover{
      animation: shift 2s ;
  }

  @keyframes shift{
      from{color: cyan;}
      to{color:yellow ;
}
  }